<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <h1>Welcome to about page</h1>
    <%- include('partials/nav'); %>
    <hr>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui rem nihil quisquam suscipit neque ea iusto sed laborum corrupti corporis saepe beatae cum, voluptatem ad, magni recusandae! Sapiente, atque magni?
    </p>
    
</body>
</html>